@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #7752fe 1.84%, #ff9209 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #7752fe -13.86%, #ff9209 99.55%);

  --color-bg: #041c32;
  --color-footer: #04293a;
  --color-blog: #064663;
  --color-text: #ddf2fd;
  --color-subtext: #ecb365;
}
